
@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();

    spmPRYFasttasty.Models.spmUSUtUsuario usuario = new spmPRYFasttasty.Models.spmUSUtUsuario().Obtener(
        spmPRYFasttasty.Models.spmClsSessionHelper.GetUser());
}

<head>
    <title>Sistema Planificador de Menú</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Delish Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Contenido/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Contenido/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contenido/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Contenido/css/style.css" rel="stylesheet" />
    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
    <!--//web-fonts-->
    @* LOGUEO *@
    <!-- Global CSS -->
    @*<link href="~/Contenido/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- //font -->
    <script src="~/Contenido/js/login/jquery-3.4.1.min.js"></script>
</head>
<body>
    @if (controlador != "login")
    {
        <!-- banner -->
        <div class="banner inner-bg-w3" id="home">
            <!-- header -->
            <div class="banner-top">
                <div class="social-bnr-agileits">
                    <ul>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="contact-bnr-w3-agile">
                    <ul>
                        <li><i class="fa fa-user" aria-hidden="true"></i>@usuario.USUapellido,@usuario.USUnombre (@usuario.USUnombre_usuario)</li>
                        <li>
                                <input class="search_box" type="checkbox" id="search_box">
                                <label class="icon-search" for="search_box"><a class="glyphicon glyphicon-user" href="~/spmClsPerfil/spmfFrmPerfilIndex" aria-hidden="true"></a></label>
                                &nbsp;
                                <label class="icon-search" for="search_box"><a class="glyphicon glyphicon-log-out" href="~/spmClsLogin/logout" aria-hidden="true" onclick="return confirm('¿Esta seguro de cerrar sesion de usuario?');"></a></label>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <header>
                <div class="container">

                    <!-- navigation -->
                    <div class="w3_navigation">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header navbar-left">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <center>
                                    <div class="w3_navigation_pos">
                                        <h1><a href="~/Home/Index"><span>F</span>ast <span>T</span>asty</a></h1>
                                    </div>
                                </center>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                <nav class="menu menu--miranda" style="width:auto !important;">
                                    <ul class="nav navbar-nav menu__list">
                                        <li class="menu__item menu__item--current"><a href="~/Home/Index" class="glyphicon glyphicon-home"></a></li>
                                        <li class="menu__item" style="margin-left:-15px"><a href="~/spmClsReceta/FrmRecetaPrincipal" class="menu__link">RECETAS</a></li>
                                        <li class="menu__item" style="margin-left:-15px"><a href="~/spmClsIngrediente/Index" class="menu__link">INGREDIENTES</a></li>
                                        <li class="menu__item"> <a href="~/spmClsUsuario/spmfFrmUsuarioIndex" class="menu__link">USUARIOS</a></li>
                                        <li class="menu__item" style="margin-left:-15px"><a href="~/spmClsPlanificacion/Index" class="menu__link">PLANIFICADOR</a></li>
                                        <li class="menu__item" style="margin-left:-15px"><a href="~/spmClsPadecimientoSalud/Index" class="menu__link">PAD. DE SALUD</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <!-- //navigation -->
                </div>
            </header>
            <!-- //header -->
        </div>
        <!-- //banner -->

    }
    <!-- about-top -->
    <div class="agile-about-top">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- //about-top -->
    <!-- Footer -->

    @if (controlador != "login")
    {
        <div class="copyright-wthree">
            <p>&copy; 2019 Fast Tasty | Todos los derechos reservados
        </div>
        <!-- //Footer -->
        <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!-- //smooth scrolling -->

    }
        <script type="text/javascript" src="~/Contenido/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="~/Contenido/js/numscroller-1.0.js"></script>
        <script src="~/Contenido/js/particles.js"></script>
        <script src="~/Contenido/js/app.js"></script>
        <!-- Dropdown-Menu-JavaScript -->
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                        $(this).toggleClass('open');
                    },
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                );
            });
        </script>
        <!-- //Dropdown-Menu-JavaScript -->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="~/Contenido/js/move-top.js"></script>
        <script type="text/javascript" src="~/Contenido/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->
        <!--js for bootstrap working-->
        <script src="~/Contenido/js/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- script-for-menu -->
        <script>

            $("span.menu").click(function () {
                $(".top-nav ul").slideToggle("slow", function () {
                });
            });
        </script>
        <!-- script-for-menu -->
        @* LOGUEO *@
        <script src="~/Contenido/js/bootstrap.min.js"></script>

        <!--ResponseModel - Login-->
        <script src="~/Contenido/js/login/ini.js"></script>
        <script src="~/Contenido/js/login/jquery.form.js"></script>
        <script src="~/Contenido/js/login/jquery.validate.min.js"></script>
        <script src="~/Contenido/js/login/jquery.validate.unobtrusive.min.js"></script>
    </body>
